<section class="content-header">
  <h1>Nouvelle entreprise</h1>
  <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li class="active">Nouvelle entreprise</li>
  </ol>
</section>

<section class="content">
  {{ entrepriseForm.value | json }}
<form [formGroup]="entrepriseForm" (ngSubmit)="addEntreprise()">


  <div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <button class="btn btn-primary btn-flat">
              <i class="fa fa-save"></i> Enregistrer
            </button>
            <button class="btn btn-primary btn-flat" data-toggle="modal" data-target="#societecom-modal">
              <i class="fa fa-info"></i> societe.com</button>
          </div>
          <div class="modal fade" id="societecom-modal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title">Annuaire des sociétés</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary">Lancer la recherche</button>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
  <br/>

  <div class="row">
    <div class="col-md-6">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Informations générales</h3>
        </div>
        
        <div class="box-body">

          
          <div class="form-group">
            <label>Nature</label>
            <select class="form-control" formControlName="IdTypeClient">
              <option *ngFor="let tc of typeClients" value="{{ tc.idTypeClient }}">{{ tc.libelle }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="raisonSociale">Raison sociale</label>
            <input type="text" class="form-control" id="raisonSociale" formControlName="raisonSociale" placeholder="Entrer la raison sociale" />
          </div>
          <div class="form-group">
            <label for="reference">Référence</label>
            <input type="text" class="form-control" id="reference" formControlName="reference" placeholder="Entrer la réféfrence" />
          </div>
          <div class="form-group">
            <label for="siteWeb">Site Web</label>
            <input type="text" class="form-control" id="siteWeb" formControlName="siteWeb" placeholder="Entrer le site Web" />
          </div>
          <div class="form-group">
            <label for="email">Adresse Email</label>
            <input type="text" class="form-control" id="email" formControlName="email" placeholder="Entrer l'adresse Email" />
          </div>
          <div class="form-group">
            <label>Catégorie tarifaire</label>
            <select class="form-control" formControlName="IdCategorieTarifaire">
              <option *ngFor="let c of categorieTarifaire" value="{{ c.idCategorieTarifaire }}">{{ c.libelle }}</option>
            </select>
          </div>

          <div class="row">
            <div class="col-md-12">
                <div class="pull-right">

                        <a (click)="addTelephone()">
                            [ <i class="fa fa-plus"></i> Ajouter un téléphone ]
                        </a>
                
                </div>
            </div>

        </div>

        <div class="row">
          <div formArrayName="telephones" *ngFor="let telephone of telephones.controls; let i=index">
              <div [formGroupName]="i">
                  <div class="col-md-4">
                      <div class="form-group">
                          <label>Type du téléphone</label>
                          <select class="form-control" formControlName="IdTypeTelephone">
                              <option *ngFor="let t of telephoneTypes" value="{{ t.idTypeTelephone }}">{{ t.libelle }}</option>
                          </select>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="numTelephone">Numéro</label>
                          <input type="text" class="form-control" id="numTelephone" formControlName="numero" placeholder="Entrer le numéro" />
                      </div>

                  </div>
                  <div class="col-md-2">
                      <div class="form-group" [hidden]="!showRemoveTelBtn">
                          <label><span style="color: #fff;">remove</span></label>
                          <button type="button" class="btn btn-danger btn-flat" (click)="removeTelephone(i)">
                              <i class="fa fa-minus"></i>
                          </button>
                      </div>
                  </div>

              </div>
          </div>

      </div>
        </div>


      </div>
    </div>
    <div class="col-md-6">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Informations juridiques</h3>
        </div>

        <div class="box-body">
            <div class="form-group">
              <label for="formeJuridique">Forme juridique</label>
              <input type="text" class="form-control" id="formeJuridique" formControlName="formeJuridique" placeholder="Entrer la forme juridique" />
            </div>
            <div class="form-group">
              <label for="siren">N° SIREN</label>
              <input type="text" class="form-control" id="siren" formControlName="numeroSiren" placeholder="Entrer le numéro SIREN" />
            </div>
            <div class="form-group">
              <label for="siret">N° SIRET</label>
              <input type="text" class="form-control" id="siret" formControlName="numeroSiret" placeholder="Entrer le numéro SIRET" />
            </div>
            <div class="form-group">
              <label for="capitalSocial">Capital Social</label>
              <input type="text" class="form-control" id="capitalSocial" formControlName="capitalSocial" placeholder="Entrer le capital social" />
            </div>
            <div class="form-group">
              <label for="codeNAF">Code NAF (APE)</label>
              <input type="text" class="form-control" id="codeNAF" formControlName="codeNAF" placeholder="Entrer le code NAF" />
            </div>
            <div class="form-group">
                <label for="rcs">RCS</label>
                <input type="text" class="form-control" id="rcs" formControlName="rcs" placeholder="Entrer le RCS" />
            </div>
            <div class="form-group">
                <label for="TVAIntra">N° TVA intra</label>
                <input type="text" class="form-control" id="TVAIntra"  formControlName="tvaIntra" placeholder="Entrer le numéro TVA intra" />
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Localisation</h3>
                <div class="box-tools pull-right">
                    <a (click)="addAdresses()">
                        [ <i class="fa fa-plus"></i> Ajouter une adresse ]
                    </a>
                </div>
            </div>
            <div class="box-body">
                <div formArrayName="adresses" *ngFor="let adresse of adresses.controls; let j=index">
                  <div [formGroupName]="j">
                      <div class="row">
                          <div class="col-md-3">
                              <div class="form-group">
                                  <label for="Titre">Titre de l'adresse</label>
                                  <input type="text" class="form-control" formControlName="titre"  placeholder="Entrer le titre" />
                              </div>
                          </div>
                          <div class="col-md-3">
                              <div class="form-group">
                                  <label for="Complement1">Complement 1</label>
                                  <input type="text" class="form-control" id="Complement1" formControlName="complement1" placeholder="Entrer le Complement 1" />
                              </div>
                          </div>
                          <div class="col-md-3">
                              <div class="form-group">
                                  <label for="Complement2">Complement 2</label>
                                  <input type="text" class="form-control" id="Complement2" formControlName="complement2" placeholder="Entrer le Complement 2" />
                              </div>
                          </div>
                          <div class="col-md-3">
                              <div class="form-group">
                                  <label for="Complement3">Complement 3</label>
                                  <input type="text" class="form-control" id="Complement3" formControlName="complement3" placeholder="Entrer le Complement 3" />
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-3">
                              <div class="form-group">
                                  <label for="codePostal">Code Postal</label>
                                  <input type="text" class="form-control" id="codePostal" formControlName="codePostal" placeholder="Entrer le code postal" />
                              </div>
                          </div>
                          <div class="col-md-3">
                              <div class="form-group">
                                  <label for="ville">Ville</label>
                                  <input type="text" class="form-control" id="ville" formControlName="ville" placeholder="Entrer la ville" />
                              </div>
                          </div>
                          <div class="col-md-3">
                              <div class="form-group">
                                  <label>Pays</label>
                                  <select class="form-control" formControlName="IdPays">
                                      <option value="1">France</option>
                                      <option value="2">Tunisie</option>
                                      <option value="3">Inde</option>
                                  </select>
                              </div>
                          </div>
                          <div class="col-md-3">
                            <div class="row">
                              <div class="col-md-10">
                                  <div class="checkbox">
                                      <label>
                                          <input type="checkbox" class="minimal"  formControlName="isAdressePrincipale"> Adresse principale
                                      </label>
                                  </div>

                                  <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="minimal"  formControlName="isAdresseFacturation"> Adresse principale
                                    </label>
                                </div>
                              </div>
                              <div class="col-md-2">
                                  <div [hidden]="!showRemoveAdresseBtn">
                                      <button type="button" class="btn btn-danger btn-flat" (click)="removeAdresse(j)">
                                          <i class="fa fa-minus"></i>
                                      </button>
                                  </div>
                              </div>

                            </div>
                              
                          </div>
                      </div>
                  </div>
                </div>
                



            </div>
        </div>
    </div>
</div>
</form>
</section>
