<section class="content-header">
    <h1>Liste des clients (Count)</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Liste des clients</li>
    </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-9">
      <div class="box box-primary">
        <div class="box-header with-border">
          <div class="pull-right">
            <button class="btn btn-default btn-flat"><i class="fa fa-file-pdf-o"></i></button>
            <button class="btn btn-default btn-flat"><i class="fa fa-file-excel-o"></i></button>
            <button class="btn btn-primary btn-flat">
              <i class="fa fa-download"></i> Importer CSV</button>
            <a [routerLink]="['/new-entreprise']" class="btn btn-success btn-flat">
              <i class="fa fa-plus"></i> Nouvelle entreprise</a>
          </div>
        </div>
        <div class="box-body">
            <table id="tableData" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th><input type="checkbox"/></th>
                  <th>Raison sociale</th>
                  <th>Email</th>
                  <th>Adresse</th>
                  <th>SIREN</th>
                  <th>SIRET</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let e of entreprises">
                  <td><input type="checkbox"/></td>
                  <td>{{ e.raisonSociale }}</td>
                  <td>{{ e.email }}</td>
                  <td>Adresse</td>
                  <td>{{ e.numeroSiren }}</td>
                  <td>{{ e.numeroSiret }}</td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Filtrer</h3>
        </div>
        <div class="box-body">
          <div class="alpha form-group">
            <a href="">0-9</a>
            <a href="">A</a>
            <a href="">B</a>
            <a href="">C</a>
            <a href="">D</a>
            <a href="">E</a>
            <a href="">F</a>
            <a href="">G</a>
            <a href="">H</a>
            <a href="">J</a>
            <a href="">K</a>
            <a href="">L</a>
            <a href="">M</a>
            <a href="">N</a>
            <a href="">O</a>
            <a href="">P</a>
            <a href="">Q</a>
            <a href="">R</a>
            <a href="">S</a>
            <a href="">T</a>
            <a href="">U</a>
            <a href="">V</a>
            <a href="">W</a>
            <a href="">X</a>
            <a href="">Y</a>
            <a href="">Tous</a>
          </div>
          <div class="form-group">
            <label>Par date d'ajout</label>
            <select class="form-control">
              <option value="">Ascendant</option>
              <option value="">Descendant</option>
            </select>
          </div>
          <div class="form-group">
            <label>Par type</label>
            <select class="form-control">
              <option value="">Client</option>
              <option value="">Client potentiel</option>
              <option value="">Client prospect</option>
            </select>
           </div>
           <div class="form-group">
             <label for="raisonSociale">Par raison sociale</label>
             <input type="text" class="form-control">
           </div>
           <div class="form-group">
             <label for="reference">Par référence</label>
             <input type="text" class="form-control">
           </div>
        </div>
      </div>
    </div>
  </div>
</section>

