<div class="row">
  <div class="col-md-12">
    <div class="box box-widget">
      <div class="box-footer">
          <form action="#" method="post">
              <img class="img-responsive img-circle img-sm" src="https://cdn3.f-cdn.com//files/download/47404770/icons_blue_team.png" alt="Alt Text">
              <div class="img-push">
                <input type="text" class="form-control input-sm" placeholder="Appuyez sur Entrer pour commenter">
              </div>
            </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="box box-widget">
      <div class="box-footer box-comments">
        <div class="box-comment">
          <img class="img-circle img-sm" src="https://cdn3.f-cdn.com//files/download/47404770/icons_blue_team.png" alt="User image"/>
          <div class="comment-text">
            <span class="username">Nader Laroussi</span>
            <span class="text-muted pull-right">12 Avril 2017 22:52</span>
            Salut Samir est ce que tu peux me renseigner à propos des tickets de maintenance de deelgo?
          </div>
        </div>
      </div>
      <div class="box-footer box-comments">
          <div class="box-comment">
            <img class="img-circle img-sm" src="https://cdn3.f-cdn.com//files/download/47404770/icons_blue_team.png" alt="User image"/>
            <div class="comment-text">
              <span class="username">Samir Rhouma</span>
              <span class="text-muted pull-right">12 Avril 2017 22:54</span>
              Salut Nader, tu trouveras dans un email une pièce jointe qui expliquera tout
            </div>
          </div>
        </div>
      <div class="box-footer">
          <form action="#" method="post">
              <img class="img-responsive img-circle img-sm" src="https://cdn3.f-cdn.com//files/download/47404770/icons_blue_team.png" alt="Alt Text">
              <div class="img-push">
                <input type="text" class="form-control input-sm" placeholder="Ajouter votre réponse">
              </div>
            </form>
          </div>
    </div>

    <div class="box box-widget">
        <div class="box-footer box-comments">
          <div class="box-comment">
            <img class="img-circle img-sm" src="https://cdn3.f-cdn.com//files/download/47404770/icons_blue_team.png" alt="User image"/>
            <div class="comment-text">
              <span class="username">Nader Laroussi</span>
              <span class="text-muted pull-right">12 Avril 2017 22:52</span>
              Salut Samir est ce que tu peux me renseigner à propos des tickets de maintenance de deelgo?
            </div>
          </div>
        </div>
        <div class="box-footer box-comments">
            <div class="box-comment">
              <img class="img-circle img-sm" src="https://cdn3.f-cdn.com//files/download/47404770/icons_blue_team.png" alt="User image"/>
              <div class="comment-text">
                <span class="username">Samir Rhouma</span>
                <span class="text-muted pull-right">12 Avril 2017 22:54</span>
                Salut Nader, tu trouveras dans un email une pièce jointe qui expliquera tout
              </div>
            </div>
          </div>
        <div class="box-footer">
            <form action="#" method="post">
                <img class="img-responsive img-circle img-sm" src="https://cdn3.f-cdn.com//files/download/47404770/icons_blue_team.png" alt="Alt Text">
                <div class="img-push">
                  <input type="text" class="form-control input-sm" placeholder="Ajouter votre réponse">
                </div>
              </form>
            </div>
      </div>

  </div>
</div>