<a href="#" class="logo">
  <span class="logo-mini">
    <b>DL</b>G
  </span>
 <span class="logo-lg">
   <b>Deel</b>Go
 </span> 
</a>

<nav class="navbar navbar-static-top">
  <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
    <span class="sr-only">Toggle Navigation</span>
  </a>
  <div class="navbar-custom-menu">
    <ul class="nav navbar-nav">
      <li class="dropdown messages-menu">
       <a href="#" class="dropdown-toggle" data-toggle="dropdown">
         <i class="fa fa-envelope-o"></i>
         <span class="label label-success">4</span> 
      </a> 
      </li>
      <li class="dropdown notifications-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-bell-o"></i>
          <span class="label label-warning">10</span>
        </a>
      </li>
      <li class="dropdown tasks-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-flag-o"></i>
          <span class="label label-danger">9</span>
        </a>
      </li>
      <li class="dropdown user user-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <img src="https://cdn3.f-cdn.com//files/download/47404770/icons_blue_team.png" alt="User Image" class="user-image">
          <span class="hidden-xs">Nader Laroussi</span>
        </a>
        <ul class="dropdown-menu">
          <li class="user-header">
            <img src="https://cdn3.f-cdn.com//files/download/47404770/icons_blue_team.png" alt="" class="img-circle">
            <p>
              Lody Saint-Germain - Web Developer
              <small>Member since Oct. 2017</small>
            </p>
          </li>
          <li class="user-footer">
            <div class="pull-left">
              <a href="#" class="btn btn-default btn-flat">Profile</a>
            </div>
            <div class="pull-right">
              <a href="#" class="btn btn-default btn-flat">Déconnexion</a>
            </div>
          </li>
        </ul>
      </li>
      <li>
        <a href="" data-toggle="control-sidebar">
          <i class="fa fa-gears"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
