<ng2-toasty [position]="'top-right'"></ng2-toasty>
<div class="wrapper">
    <header class="main-header">
        <top-menu></top-menu>
    </header>
    <aside class="main-sidebar">
        <side-bar></side-bar>
    </aside>
    <div class="content-wrapper">
        <router-outlet></router-outlet>
    </div>
    <footer-section></footer-section>
</div>
