
  <section class="sidebar">
    <div class="user-panel">
      <div class="pull-left image">
        <img src="https://cdn3.f-cdn.com//files/download/47404770/icons_blue_team.png" alt="" class="img-circle">
  
      </div>
      <div class="pull-left info">
        <p>Nader Laroussi</p>
        <a href="#">
          <i class="fa fa-circle text-success"></i> Online
        </a>
      </div>
    </div>

    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
          <button class="btn btn-flat" type="submit" name="search" id="search-btn">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>

    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
      <li><a href="#"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-user"></i> <span>Contacts</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a [routerLink]="['/new-entreprise']"><i class="fa fa-plus"></i> Nouvelle entreprise</a></li>
          <li><a [routerLink]="['/entreprises']"><i class="fa fa-list"></i> Liste des entreprises</a></li>
          <li><a [routerLink]="['/new-contact']"><i class="fa fa-plus"></i> Nouveau contact</a></li>
          <li><a href="#"><i class="fa fa-list"></i> Liste des contacts</a></li>
          <li><a href="#"><i class="fa fa-info"></i> societe.com</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-file"></i> <span>Documents</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="#"><i class="fa fa-circle-o"></i> Nouveau devis</a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> Liste des devis</a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> Nouvelle facture</a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> Liste des factures</a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> Journal de facturation</a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> Nouvel avoir</a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> Liste des avoirs</a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> Nouveau bon de livraison</a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> Liste des bons de livraisons</a></li>
        </ul>
      </li>
      <li><a href=""><i class="fa fa-anchor"></i> <span>Opportunités</span></a></li>
      <li><a href=""><i class="fa fa-cart-plus"></i> <span>Catalogues</span></a></li>
      <li><a href=""><i class="fa fa-money"></i> <span>Règlements</span></a></li>
      <li><a href=""><i class="fa fa-cart-arrow-down"></i> <span>Achats</span></a></li>
      <li><a href=""><i class="fa fa-eur"></i> <span>Frais</span></a></li>
      <li><a href=""><i class="fa fa-check-circle"></i> <span>Comptabilité</span></a></li>
      <li><a href=""><i class="fa fa-check"></i> <span>Caisse</span></a></li>
      <li><a href=""><i class="fa fa-book"></i> <span>Stock</span></a></li>
    </ul>
  </section>
