<div class="row">
  <div class="col-md-12">
    <h4 style="background-color:#f7f7f7; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">
      Liste des contacts associés
    </h4>
    <div class="box box-solid">
      <div class="box-body">
        <ul class="products-list product-list-in-box">
          <li class="item">
            <div class="product-img">
              <img alt="Coumarane" src="https://adminlte.io/themes/AdminLTE/dist/img/default-50x50.gif" />
            </div>
            <div class="product-info">
              <a href="#" class="product-title">Mr. Coumarane Couppane</a>
              <a href="#" class="label label-primary pull-right">voir</a>
              <span class="product-description">
                <div class="row">
                  <div class="col-md-4">
                    <i class="fa fa-phone"></i> + 33 65 99 88 542
                  </div>
                  <div class="col-md-4">
                    <i class="fa fa-envelope"></i> contact@ccoumarane.com
                  </div>
                  <div class="col-md-4">
                    <i class="fa fa-calendar"></i> Ajouté le 12 Avril 2017
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">

                    Actif <a href="#">Désactiver</a> |  
                    <a href="#"><i class="fa fa-pencil"></i></a>   
                    <a href="#"><i class="fa fa-star-o"></i></a>   
                  </div>
                 
                </div>
              </span>
            </div>
          </li>

          <li class="item">
              <div class="product-img">
                <img alt="Coumarane" src="https://adminlte.io/themes/AdminLTE/dist/img/default-50x50.gif" />
              </div>
              <div class="product-info">
                <a href="#" class="product-title">Mr. Samir Rhouma</a>
                <a href="#" class="label label-primary pull-right">voir</a>
                <span class="product-description">
                  <div class="row">
                    <div class="col-md-4">
                      <i class="fa fa-phone"></i> + 33 65 99 88 542
                    </div>
                    <div class="col-md-4">
                      <i class="fa fa-envelope"></i> contact@rhouma.com
                    </div>
                    <div class="col-md-4">
                      <i class="fa fa-calendar"></i> Ajouté le 12 Avril 2017
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
  
                      Actif <a href="#">Désactiver</a> |  
                      <a href="#"><i class="fa fa-pencil"></i></a>   
                      <a href="#"><i class="fa fa-star-o"></i></a>   
                    </div>
                   
                  </div>
                </span>
              </div>
            </li>

            <li class="item">
                <div class="product-img">
                  <img alt="Coumarane" src="https://adminlte.io/themes/AdminLTE/dist/img/default-50x50.gif" />
                </div>
                <div class="product-info">
                  <a href="#" class="product-title">Mr. Nader Laroussi</a>
                  <a href="#" class="label label-primary pull-right">voir</a>
                  <span class="product-description">
                    <div class="row">
                      <div class="col-md-4">
                        <i class="fa fa-phone"></i> + 33 65 99 88 542
                      </div>
                      <div class="col-md-4">
                        <i class="fa fa-envelope"></i> contact@laroussi.com
                      </div>
                      <div class="col-md-4">
                        <i class="fa fa-calendar"></i> Ajouté le 12 Avril 2017
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
    
                        Actif <a href="#">Désactiver</a> |  
                        <a href="#"><i class="fa fa-pencil"></i></a>   
                        <a href="#"><i class="fa fa-star-o"></i></a>   
                      </div>
                     
                    </div>
                  </span>
                </div>
              </li>

        </ul>
      </div>
    </div>
  </div>
</div>