<section class="content-header">
        <h1>Fetch Data</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Fetch data</li>
        </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Weather forecast</h3>
                    <p>This component demonstrates fetching data from the server.</p>
                </div>

                <div class="box-body">
                        <p *ngIf="!forecasts"><em>Loading...</em></p>
                        <table class='table' *ngIf="forecasts" id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Temp. (C)</th>
                                        <th>Temp. (F)</th>
                                        <th>Summary</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let forecast of forecasts">
                                        <td>{{ forecast.dateFormatted }}</td>
                                        <td>{{ forecast.temperatureC }}</td>
                                        <td>{{ forecast.temperatureF }}</td>
                                        <td>{{ forecast.summary }}</td>
                                    </tr>
                                </tbody>
                            </table>
                </div>
            </div>
        </div>
    </div>
</section>







