<section class="content-header">
    <h1>Détails de Deelgo Inc.</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="#"><i class="fa fa-list"></i> Liste des entreprises</a></li>
        <li class="active">Détails de Deelgo Inc.</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-4">
            <div class="box box-solid">
                <div class="box-body box-profile">
                    <img src="https://cdn3.f-cdn.com//files/download/47404770/icons_blue_team.png" alt="" class="profile-user-img img-responsive img-circle">
                    <h3 class="profile-username text-center">Deelgo Inc.</h3>
                    <p class="text-muted text-center">Client potentiel (Depuis 10 Avril 2017)</p>
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-6 border-right">+33 65 99 88 542</div>
                                <div class="col-md-6 border-right">contact@deelgo.com</div>
                            </div>
                        </li>
                    </ul>
                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn btn-block btn-primary btn-flat btn-xs">

                                <i class="fa fa-pencil"></i> Modifier

                            </button>

                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-block btn-primary btn-flat btn-xs">
                                <i class="fa fa-bitbucket"></i> Désactiver
                            </button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-block btn-primary btn-flat btn-xs">

                                <i class="fa fa-trash"></i> Supprimer
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-8">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Statistique du client</h3>
                    <div class="pull-right">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="description-block border-right">
                                    <span class="description-percentage text-blue">
                      <h4>Chiffre d'affaires</h4>
                    </span>
                                    <h5 class="description-header">35,210.35 Euros HT</h5>
                                    <h6>24 Devis - 12 Factures</h6>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="description-block border-right">
                                    <span class="description-percentage text-blue">
                        <h4>Chiffre d'affaires</h4>
                      </span>
                                    <h5 class="description-header">35,210.35 Euros HT</h5>
                                    <h6>24 Devis - 12 Factures</h6>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="description-block">
                                    <span class="description-percentage text-red">
                          <h4>Règlements en retard</h4>
                        </span>
                                    <h5 class="description-header">35,210.35 Euros HT</h5>
                                    <h6>24 Devis - 12 Factures</h6>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="description-block border-right">
                                    <span class="description-percentage text-green">
                          <h4>Encaissements reçus</h4>
                        </span>
                                    <h5 class="description-header">35,210.35 Euros HT</h5>
                                    <h6>24 Devis - 12 Factures</h6>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="description-block border-right">
                                    <span class="description-percentage text-orange">
                          <h4>Devis en attente</h4>
                        </span>
                                    <h5 class="description-header">35,210.35 Euros HT</h5>
                                    <h6>24 Devis - 12 Factures</h6>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="description-block">
                                    <span class="description-percentage text-orange">
                          <h4>Devis en attente</h4>
                        </span>
                                    <h5 class="description-header">35,210.35 Euros HT</h5>
                                    <h6>24 Devis - 12 Factures</h6>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="box-footer">
                    <div class="pull-right">
                        <a href="#">Plus de détails</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Données de Deelgo Inc.</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="box box-widget widget-user-2">

                                <div class="box-footer no-padding">
                                    <ul class="nav nav-stacked">
                                        <li><a [routerLink]="[{ outlets: { entreprisecomp: ['commentaires'] } }]">Commentaires</a></li>
                                        <li><a [routerLink]="[{ outlets: { entreprisecomp: ['contacts-associes'] }}]">Contacts associés</a></li>
                                        <li><a [routerLink]="[{ outlets: { entreprisecomp: ['agenda'] } }]">Agenda</a></li>
                                        <li><a [routerLink]="[{ outlets: { entreprisecomp: ['taches'] } }]">Tâches</a></li>
                                        <li><a [routerLink]="[{ outlets: { entreprisecomp: ['emails'] } }]">Emails</a></li>
                                        <li><a [routerLink]="[{ outlets: { entreprisecomp: ['info'] } }]">Informations</a></li>
                                        <li><a [routerLink]="[{ outlets: { entreprisecomp: ['adresses'] } }]">Adresses</a></li>
                                        <li><a [routerLink]="[{ outlets: { entreprisecomp: ['docs'] } }]">Documents</a></li>
                                        <li><a [routerLink]="[{ outlets: { entreprisecomp: ['reglements'] } }]">Règlements</a></li>
                                        <li><a [routerLink]="[{ outlets: { entreprisecomp: ['banque'] } }]">Comptes bancaires</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <router-outlet name="entreprisecomp"></router-outlet>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>