.radio label{
    margin-right: 10px;
}

.image-container{
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.image-container img{
    width: 150px;
    height: 150px;
}

.has-error{
    color: #dd4b39;
}



