<section class="content-header">
    <h1>Nouveau contact</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Nouveau contact</li>
    </ol>
</section>

<div class="content">
   {{ contactForm.value | json }}
    <form (ngSubmit)="addContact()" [formGroup]="contactForm">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <button class="btn btn-primary btn-flat" type="submit" [disabled]="!contactForm.valid">
                        <i class="fa fa-save"></i> Enregistrer
                    </button>
                </div>
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-md-7">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Informations personnelles</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label>Civilité</label>
                            <div class="radio">
                                <label *ngFor="let cv of civilites">
                                    <input type="radio" value="{{ cv.idCivilite }}" formControlName="IdCivilite" checked> {{ cv.libelleLong }}
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="prenom">Prénom</label>
                            <input type="text" class="form-control" id="prenom" formControlName="prenom" placeholder="Entrer le prénom" />
                            <div *ngIf="contactForm.controls['prenom'].invalid && contactForm.controls['prenom'].touched">
                                <span class="help-block has-error" *ngIf="contactForm.controls['prenom'].errors.required">
                                  Le champs "prénom" est obligatoire
                                </span>
                            </div>
                            
                          </div>
                        <div class="form-group">
                            <label for="nom">Nom</label>
                            <input type="text" class="form-control" id="nom" formControlName="nom" placeholder="Entrer le nom" />
                            <div *ngIf="contactForm.controls['nom'].invalid && contactForm.controls['nom'].touched">
                                <span class="help-block has-error" *ngIf="contactForm.controls['nom'].errors.required">
                                  Le champs "nom" est obligatoire
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fonction">Fonction</label>
                            <input type="text" class="form-control" id="fonction" formControlName="fonction" placeholder="Entrer la fonction" />
                            <div *ngIf="contactForm.controls['fonction'].invalid && contactForm.controls['fonction'].touched">
                                <span class="help-block has-error" *ngIf="contactForm.controls['fonction'].errors.required">
                                  Le champs "fonction" est obligatoire
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" formControlName="email" placeholder="Entrer l'adresse email" />
                            <div *ngIf="contactForm.controls['email'].invalid && contactForm.controls['email'].touched">
                                <span class="help-block has-error" *ngIf="contactForm.controls['email'].errors.required">
                                  Le champs "email" est obligatoire
                                </span>
                                <span class="help-block has-error" *ngIf="contactForm.controls['email'].errors.pattern">
                                  Veuillez ajouter une adresse email valide
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">

                                        <a (click)="addTelephone()">
                                            [ <i class="fa fa-plus"></i> Ajouter un téléphone ]
                                        </a>
                                
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div formArrayName="telephones" *ngFor="let telephone of telephones.controls; let i=index">
                                <div [formGroupName]="i">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Type du téléphone</label>
                                            <select class="form-control" formControlName="IdTypeTelephone">
                                                <option *ngFor="let t of telephoneTypes" value="{{ t.idTypeTelephone }}">{{ t.libelle }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="numTelephone">Numéro</label>
                                            <input type="text" class="form-control" id="numTelephone" formControlName="numero" placeholder="Entrer le numéro" />
                                        </div>

                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group" [hidden]="!showRemoveBtn">
                                            <label><span style="color: #fff;">remove</span></label>
                                            <button type="button" class="btn btn-danger btn-flat" (click)="removeTelephone(i)">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Social</h3>
                    </div>
                    <div class="box-body">
                        <div class="image-container">
                            <img src="https://cdn3.f-cdn.com//files/download/47404770/icons_blue_team.png" class="img-circle" alt="User Image">
                            <button class="btn btn-block btn-warning btn-flat btn-s">Choisir une photo</button>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-facebook"></i></span>
                                <input type="text" class="form-control" formControlName="facebookUrl" placeholder="Facebook" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-twitter"></i></span>
                                <input type="text" class="form-control" formControlName="twitterUrl" name="twitter" placeholder="Twitter" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-linkedin"></i></span>
                                <input type="text" class="form-control" formControlName="linkedinUrl" placeholder="Linkedin" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-google-plus"></i></span>
                                <input type="text" class="form-control" formControlName="gplusUrl" placeholder="Google +" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-internet-explorer"></i></span>
                                <input type="text" class="form-control" formControlName="siteWeb" placeholder="Site Web" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Localisation</h3>
                        <div class="box-tools pull-right">
                            <a (click)="addAdresses()">
                                [ <i class="fa fa-plus"></i> Ajouter une adresse ]
                            </a>
                        </div>
                    </div>
                    <div class="box-body">
                        <div formArrayName="adresses" *ngFor="let adresse of adresses.controls; let j=index">
                          <div [formGroupName]="j">
                              <div class="row">
                                  <div class="col-md-3">
                                      <div class="form-group">
                                          <label for="Titre">Titre de l'adresse</label>
                                          <input type="text" class="form-control" formControlName="titre"  placeholder="Entrer le titre" />
                                      </div>
                                  </div>
                                  <div class="col-md-3">
                                      <div class="form-group">
                                          <label for="Complement1">Complement 1</label>
                                          <input type="text" class="form-control" id="Complement1" formControlName="complement1" placeholder="Entrer le Complement 1" />
                                      </div>
                                  </div>
                                  <div class="col-md-3">
                                      <div class="form-group">
                                          <label for="Complement2">Complement 2</label>
                                          <input type="text" class="form-control" id="Complement2" formControlName="complement2" placeholder="Entrer le Complement 2" />
                                      </div>
                                  </div>
                                  <div class="col-md-3">
                                      <div class="form-group">
                                          <label for="Complement3">Complement 3</label>
                                          <input type="text" class="form-control" id="Complement3" formControlName="complement3" placeholder="Entrer le Complement 3" />
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-3">
                                      <div class="form-group">
                                          <label for="codePostal">Code Postal</label>
                                          <input type="text" class="form-control" id="codePostal" formControlName="codePostal" placeholder="Entrer le code postal" />
                                      </div>
                                  </div>
                                  <div class="col-md-3">
                                      <div class="form-group">
                                          <label for="ville">Ville</label>
                                          <input type="text" class="form-control" id="ville" formControlName="ville" placeholder="Entrer la ville" />
                                      </div>
                                  </div>
                                  <div class="col-md-3">
                                      <div class="form-group">
                                          <label>Pays</label>
                                          <select class="form-control" formControlName="IdPays">
                                              <option value="1">France</option>
                                              <option value="2">Tunisie</option>
                                              <option value="3">Inde</option>
                                          </select>
                                      </div>
                                  </div>
                                  <div class="col-md-3">
                                    <div class="row">
                                      <div class="col-md-10">
                                          <div class="checkbox">
                                              <label>
                                                  <input type="checkbox" class="minimal"  formControlName="isAdressePrincipale"> Adresse principale
                                              </label>
                                          </div>
                                      </div>
                                      <div class="col-md-2">
                                          <div [hidden]="!showRemoveAdresseBtn">
                                              <button type="button" class="btn btn-danger btn-flat" (click)="removeAdresse(j)">
                                                  <i class="fa fa-minus"></i>
                                              </button>
                                          </div>
                                      </div>

                                    </div>
                                      
                                  </div>
                              </div>
                          </div>
                        </div>
                        



                    </div>
                </div>
            </div>
        </div>
    </form>
</div>